body, html {
    background-color: #f3f5f7;
    margin: 0;
    padding: 0;

}

header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f7;
    font-style: italic;
    font-weight: 900;
    font-size: clamp(0.5rem , calc(1vw + 1rem), 1.5rem);
}

.resenha{
    display: flex;
    flex-flow: column;
    width: 800px;
    max-width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgba(45, 57, 68, 0.05);
    border-radius: 5px;
    margin: 50px auto;
    padding: 35px;
}

input[type=text],[type=number], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #0446aa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #455da0;
}

.logout-button{
  text-align: center;
  padding:0px 0px 35px;
}
.logout-link{
  text-decoration: none;
  padding:15px 10px ;
  background-color: #0446aa;
  color: white;
  border-radius: 8px;
  min-width: 65px;
  max-width: 10vw;
  text-align: center;
}

.logout-link:hover{
  background-color: #455da0;
}

