/*Nome do arquivo: cadastro.css*/

body, html {
    background-color: #f3f5f7;
    margin: 0;
    padding: 0;
}

h2{
  text-align: center;
}


header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f7;
    font-style: italic;
    font-weight: 900;
    font-size: clamp(0.5rem , calc(1vw + 1rem), 1.5rem);
}

.login{
    display: flex;
    flex-flow: column;
    width: 400px;
    max-width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgba(45, 57, 68, 0.05);
    border-radius: 5px;
    margin: 100px auto;
    padding: 35px;
}

input[type=text],[type=email],[type=password], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  
}


.botao {
  background-color: #0446aa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 90%;
  
}

.botao:hover {
  background-color: #455da0;
}

.logar-link, .voltar-link {
  text-decoration: none;
  cursor: pointer;
  
}

