body, html {
    background-color: #f3f5f7;
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f7;
    font-style: italic;
    font-weight: 900;
    font-size: clamp(0.5rem , calc(1vw + 1rem), 1.5rem);
    margin:0;
}

table{
    border-collapse: collapse;
    background-color: #ffffff;
    flex-flow: column;
    width: 55vw;
    max-width: 90%;
    border: 2px solid #030e33;
    margin: 100px auto;
    font-family:'Zalando Sans SemiExpanded' ;
    font-weight: 500; 
}

div.tabela{
  overflow-x: auto;
}

th, td {
  padding: 20px;
  
}

td {
    width: 450px; 
    border: 2px solid #030e33; 
    
}

th {
    background-color: #0446aa;
    color: #f3f5f7;
   
}

.main-button{
  text-align: center;
  padding:0px 0px 35px;
}
.main-link{
  text-decoration: none;
  padding:15px 10px ;
  background-color: #0446aa;
  color: white;
  border-radius: 8px;
  min-width: 65px;
  max-width: 10vw;
  text-align: center;
  
}

.main-link:hover{
  background-color: #455da0;
}