/*Nome do arquivo: index.css*/

body{
   background-color: #f5f5f5;
}


.section-1 header{
    
    padding:2vw 3vw ;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.section-1 h1{
    font-style: italic;
    font-weight: 900;
    font-size: clamp(1.5rem , calc(3vw + 1rem), 2.9rem);
}

.section-1 nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:58%;
    font-size: clamp(1.1rem , calc(2vw + 1rem), 33%);
    
    
}

.section-1 nav a{
text-decoration: none;
padding:3px;
color: #06258c;
font-weight: 800;
border-radius: 10px;

}

.section-1 nav a:hover{
  background-color:#06258c;
  color:aliceblue;
}

.section-2 .items{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:1rem;
    padding: 8px;
}
.section-2 img{
    max-width: 480px;
    height:auto;
    border-radius:3%;
    object-fit: contain;
}


.section-2 .texto{
    max-width: 65vw;
}
.section-2 .texto h1{
    font-size: clamp(1.5rem , calc(7vw + 1rem), 4rem);
    font-family:'Audiowide' ;   
}
.section-2 .texto p{
  font-size: clamp(1rem , calc(1vw + 1rem), 1.5rem);
  
}

.section-3 h1{
 text-align: center;
  
}
.section-3 .items{
   padding:10px 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-3 a{
  text-decoration: none;
  background-color: #0446aa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.section-3 a:hover{
  background-color: #455da0;
  color:aliceblue
}

.section-4{
    background-color: #07041f;
    color:aliceblue;
    height:220px;
}

.section-4 h3{
  font-size:(0.5rem , calc(0.5vw + 1rem), 2rem);
  text-align: center;
  padding:min(1.2em,3%);
}

.section-4 .footer p{
  font-size:(0.5rem , calc(0.5vw + 0.5rem), 1rem);
  padding:min(1.8em,5%);
}

.section-4 .fimpagina{
  padding:min(2em,4%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap:8px;
}

