body, html {
    background-color: #f3f5f7;
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f7;
    font-style: italic;
    font-weight: 900;
    font-size: clamp(0.5rem , calc(1vw + 1rem), 1.5rem);
}


table {
    border-collapse: collapse;
    
    background-color: #ffffff;
    flex-flow: column;
    width: 55vw;
    max-width: 90%;
    border: 2px solid #030e33;
    box-shadow: 0px 0px 7px 1px rgba(45, 57, 68, 0.05);
    border-radius: 5px;
    margin: 100px auto;
    padding: 35px;
    font-family:'Quantico' ;
    font-weight: 900;
}

th, td {
  padding: 10px;
  
}

td {
    width: 250px; 
    border: 2px solid #030e33; 
    
}

th {
    background-color: #0446aa;
    color: #f3f5f7;
    font-family: 'Michroma';
}


.main-button{
  text-align: center;
  padding:0px 0px 35px;
}
.main-link{
  text-decoration: none;
  padding:15px 10px ;
  background-color: #0446aa;
  color: white;
  border-radius: 8px;
  min-width: 65px;
  max-width: 10vw;
  text-align: center;
  font-family: 'Michroma';
}

.main-link:hover{
  background-color: #455da0;
}