/*Zalando Sans SemiExpanded
Quantico
Michroma
Audiowide
Permanent Marker
Tourney*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&family=Permanent+Marker&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tourney:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');